################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Health/bin
/Health/obj
/Health/Health.csproj.user
